@use "variables" as *;

// flex classes
.flex {
  display: flex !important;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}

// general
.hidden {
  display: none;
}

.open {
  transform: none;
}
