@use "variables" as *;

.flex {
  display: flex !important;
}
.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.hidden {
  display: none;
}
.open {
  transform: none !important;
}
