$ff-primary: "Epilogue", sans-serif;

$fs-lg: 1.875rem;
$fs-md: 1.125rem;
$fs-sm: 1rem;

$fs-heading: $fs-lg;
$fs-body-1: $fs-md;
$fs-body-2: $fs-sm;

$ff-heading: $ff-primary;
$ff-body: $ff-primary;
