@use "../abstracts" as *;

body {
  background-color: $clr-neutral-1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.25s ease;

  @include sm {
    padding: 0 1rem;
  }

  @include lg {
    padding: 0 2rem;
  }
}
