@font-face {
  font-family: "Epilogue";
  font-weight: 500;
  src:
    local("Epilogue"),
    url("/assets/fonts/epilogue-variablefont_wght-webfont.woff2") format("woff2"),
    url("/assets/fonts/epilogue-variablefont_wght-webfont.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Epilogue";
  font-weight: 700;
  src:
    local("Epilogue"),
    url("/assets/fonts/epilogue-italic-variablefont_wght-webfont.woff2") format("woff2"),
    url("/assets/fonts/epilogue-italic-variablefont_wght-webfont.woff") format("woff");
  font-display: swap;
}
